<footer class="opacity-80 mt-10 text-center text-xs mb-5">
  © 2025 Wav Social Scan • All rights reserved.
  <br>
  <span class="text-muted mt-2 inline-block">
    Made with 🩶 by 
    <a href="https://gabizoc.fr" target="_blank" rel="noopener" 
       class="text-gray-600 hover:text-gray-700 transition-colors underline decoration-dotted">
      Gabizoc
    </a>
    &
    <a href="https://linktr.ee/fredwav" target="_blank" rel="noopener" 
       class="text-gray-600 hover:text-gray-700 transition-colors underline decoration-dotted">
      Fred Wav
    </a>
  </span>
</footer>
